<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="TeamCity" value="https://build.peddle.com/httpAuth/app/nuget/feed/PeddleLibrary/default/v1" />
    <add key="ThirdPartyLibrary" value="https://build.peddle.com/httpAuth/app/nuget/feed/ThirdPartiesLibrary/default/v1" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TeamCity>
        <add key="Username" value="sagar.viradiya@marutitech.com" />
        <add key="ClearTextPassword" value="BpvqtzeE95p-" />
    </TeamCity>
    <ThirdPartyLibrary>
        <add key="Username" value="sagar.viradiya@marutitech.com" />
        <add key="ClearTextPassword" value="BpvqtzeE95p-" />
    </ThirdPartyLibrary>
</packageSourceCredentials>
</configuration>